# 0. Hire IT employee data
In a company Hire IT, there are these employees.

employeeID	name	department	salary
- 0	Alice	HR	31000
- 1	Bob	IT	41000
- 2	Charlie	HR	28000

a) Create a list of dictionaries to represent this data, where each dictionary represents each row.

In [3]:
person1 = {"ID": 0, "name": "Alice", "department": "HR", "salary": 31000}
person2 = {"ID": 1, "name": "Bob", "department": "IT", "salary": 41000}
person3 = {"ID": 2, "name": "Charlie", "department": "HR", "salary": 28000}

employees = [person1, person2, person3]

b) Extract the second record in this dataset.

In [4]:
employees[1]

{'ID': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000}

c) Extract all rows from this dataset and print it in this format
- Alice works in department HR and earns 31000.
- Bob works in department IT and earns 41000.
- Charlie works in department HR and earns 28000.

In [7]:
for employee in employees:
    print(f"{employee['name']} works in department {employee['department']} and earns {employee['salary']}.")

Alice works in department HR and earns 31000.
Bob works in department IT and earns 41000.
Charlie works in department HR and earns 28000.

d) Find out the average salary in Hire IT.

In [27]:
total_salary = sum(employee["salary"] for employee in employees)
average_salary = total_salary / len(employees)

print(f"The average in Hire IT is {average_salary:.0f}.")

The average in Hire IT is 33333.

e) Find out the average salary among the HR department in Hire IT.

In [26]:
hr_salaries = [employee["salary"] for employee in employees if employee["department"] == "HR"]
total_hr_salary = sum(hr_salaries)
num_hr_employees = len(hr_salaries)

hr_average_salary = total_hr_salary / num_hr_employees if num_hr_employees > 0 else 0
print(f"The average salary in HR is {hr_average_salary:.0f}.")

The average salary in HR is 29500.

f) Extract all records where the department is HR.

In [36]:
hr_employees = [employee for employee in employees if employee["department"] == "HR"]

hr_employees

[{'ID': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000},
 {'ID': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}]

g) Find all unique departments in this list.

In [37]:
unique_departments = {employee["department"] for employee in employees}

print(unique_departments)

{'IT', 'HR'}

h) Add this age column into our list of dictionaries. None should be used for empty fields.

In [43]:
employees[0]["age"] = 26
employees[1]["age"] = 37
employees[2]["age"] = None

print(employees)

[{'ID': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000, 'age': 26}, {'ID': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000, 'age': 37}, {'ID': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000, 'age': None}]