# 0. Hire IT employee data
In a company Hire IT, there are these employees.

employeeID	name	department	salary
- 0	Alice	HR	31000
- 1	Bob	IT	41000
- 2	Charlie	HR	28000

a) Create a list of dictionaries to represent this data, where each dictionary represents each row.

In [8]:
person1 = {"ID": 0, "name": "Alice", "department": "HR", "salary": 31000}
person2 = {"ID": 1, "name": "Bob", "department": "IT", "salary": 41000}
person3 = {"ID": 2, "name": "Charlie", "department": "HR", "salary": 28000}

employees = [person1, person2, person3]

b) Extract the second record in this dataset.

In [9]:
employees[1]

{'ID': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000}

c) Extract all rows from this dataset and print it in this format
- Alice works in department HR and earns 31000.
- Bob works in department IT and earns 41000.
- Charlie works in department HR and earns 28000.

In [15]:
for employee in employees:
    print(f"{employee['name']} works in department {employee['department']} and earns {employee['salary']}.")

Alice works in department HR and earns 31000.
Bob works in department IT and earns 41000.
Charlie works in department HR and earns 28000.

d) Find out the average salary in Hire IT.

In [16]:
total_salary = sum(employee["salary"] for employee in employees)
average_salary = total_salary / len(employees)

print(f"The average in Hire IT is {average_salary}.")

The average in Hire IT is 33333.333333333336.